*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex-column
{ flex-direction: column }

main
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.add-form-container {
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas: "img img img"
        "formLeft separator formRight"
        "submit submit submit";
    padding: 70px;
    margin: 60px 0;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #0002;
}

.upload-img {
    width: 140px;
    padding: 10px;
    color: white;
    justify-self: center;
    align-items: center;
    grid-area: img;
    cursor: pointer;
    background: orangered;
    border-radius: 5px;
    transition: all 0.3s;
    color: antiquewhite;
}
    .upload-img label {
        cursor: pointer;
        font-family:serif;
    }
        .upload-img:hover {
            transform: scale(1.1);
            cursor: pointer;
            background-color: darkorange;
        }

        .upload-img input {
            display: none;
        }

.add-form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-form_left
{
    margin-right: 30px;
    grid-area: formLeft;
}

.vertical-separator
{
    width: 0;
    height: 230px;
    margin: 10px;
    border-left: 2px solid gray;
    grid-area: separator;
}

.add-form_right
{
    margin-left: 30px;
    grid-area: formRight;
}

.add-input
{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

    .add-input input {
        min-width: 290px;
        padding: 7px;
        border: none;
        background: transparent;
        font-family: sans-serif;
        transition: 0.2s ease;
        border-bottom: 2px solid darkorange;
        outline:none;
    }
        .add-input input:focus {
            border-bottom: 2px solid orange;
            border-bottom-right-radius: 20px;
            color: #3498db;
            transition: 0.3s ease;
            outline: none;
           
        }
    .add-input textarea {
        border: none;
        border-bottom: 2px solid darkorange;
        transition: all 0.3s;
        font-family: sans-serif;
        height: 130px;
        box-shadow: 1px 1px 4px #8b8383;
        border-radius: 4px;
    }
        .add-input textarea:focus {
            transition: 0.3s ease;
            border-bottom-right-radius: 20px;
            color: #3498db;
            border-bottom: 2px solid orange;
            border-bottom-right-radius: 20px;
            outline:none;
        }

        .add-form-container input[type="submit"] {
            border: none;
            outline: none;
            width: 300px;
            padding: 10px;
            margin-top: 50px;
            justify-self: center;
            grid-area: submit;
            font-family: sans-serif;
            border-radius: 5px;
            font-size: 19px;
            color: antiquewhite;
            background: orangered;
            transition: all 0.3s;
        }
    .add-form-container input[type="submit"]:hover {
        transform: scale(1.1);
        cursor: pointer;
        background-color: darkorange;
    }
#product
{
   font-family: 'Tapestry';
}

label[for="MainContent_RecTime"] .svg-inline--icon 
{
    color:gold;
    margin-right: 10px;
}
label[for="MainContent_RecCost"] .svg-inline--icon 
{
    margin-right: 10px;
}
label[for="MainContent_ProdPrice"] .svg-inline--icon {
    margin-right: 10px;
}


