body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
		position: relative
}

/*navbar start*/
.navbar{
    background-color: black;
    height: 75px;
}
.navbar + *
{
		margin-top: 75px;
}
.navbar-brand{
    font-family: 'Tapestry', cursive;
    font-size: 30px;
    color: #e75b1e;
    margin-right: 30px;
    margin-left: 30px;
}
.navbar-brand:hover{
    color: #e75b1e;
}

.navbar .navbar-nav .nav-link{
    color: white;
    margin-left: 50px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.2s  ease-in-out;
}
/*links*/
.navbar .navbar-nav .nav-link:hover
{
    color:#e75b1e;
    border-bottom:  2px solid #e75b1e;
    transition: all 0.2s  ease-in-out;
}

.navbar .nav-link.disabled
{
	color: #6c757d;
}

/* button*/

.btn-outline-success {
    color: #e75b1e;
    border-color: #e75b1e;
}
.btn-outline-success:hover{
    color: white;
    background-color: #e75b1e;
    border: 1px solid #e75b1e;
}
.dropdown-menu {
    color:  var(--bs-orange);
    background: #333;
}
.dropdown-item{
    color: white;
}
/*navbar ended*/


/*start footer*/

footer {width: 100%}

footer, footer > div, footer > div > div
{
		display: flex;
		justify-content: center;
}

footer h5 {
    margin-top: 2em;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
  }

footer .text-uppercase.font-weight-bold
{
		color: #e75b1e;
}

  .owner{
      color: #e75b1e;
  }
/*end footer*/
