body
{ background: none }

.main-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee
}

.recipes-main
{
    margin: 50px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

@media (max-width: 1200px)
{
    .recipes-main
    {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 880px)
{
    .recipes-main
    {
        grid-template-columns: auto;
    }
}

.container.main
{
    max-width: 400px;
    min-height: 470px;
    justify-content: center;
    border-radius: 5px;
    margin: 20px;
}

@media (max-width: 450px)
{
    .container.main
    { max-width: 350px }

    .user-info
    {
        position: relative;
        right: 15px;
        font-size: 18px;
    }
}

.user-info span a
{ white-space: nowrap; }

.heading
{ margin-top: 20px }

.heading  a
{
    text-decoration: none;
}

.container.main .user-info
{ margin-bottom: 10px }

.container.main .title
{ margin-top: auto }

.container.main .img
{
    margin: auto 0;
    max-height: 320px;
}

.img img
{ max-height: 300px }

.recipe-info
{
    min-height: 165px;
}