*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#profile{
   position: relative;
}
.tap{
    background-color:rgb(30, 24, 19);
    width: 100%;
    height:50px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 7px rgb(143, 143, 143);
}
.tap h3{
    color:rgb(255, 108, 34) ;
    display: inline-block;
    font-size: 24px;
}
.tap .svg-inline--fa{
    width:30px;
    height: 30px;
    font-size: 30px;
    cursor: pointer;
    color:rgb(255, 108, 34);
    font-weight: bold;
    margin-left: 10px;
    float: left;
}
.personal-info{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding:50px 0 0px;
    width:100%;
}
.description{
    text-align: center;
}
.personal-info .description .personal-photo{
    border-radius: 50%;
    position: relative;
    width: 180px;
    height: 180px;
    margin:0 auto 20px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.personal-info .description .personal-photo img{
    position: absolute;
    left:0;
    width:100%;
    height:100%;
    border-radius: 50%;
}
.personal-photo .photo-hover{
    display: none;
    text-align: center;
    align-items: center;
    background:linear-gradient(rgba(93, 92, 91, 0.5), #000) ;
    position: absolute;
    background-size: cover;
    background-position: center;
    position: absolute;
    width:100%;
    height:100%;
    border-radius: 50%;
    -webkit-transition: 10s;
    -moz-transition: 10s;
    -o-transition:10s;
    transition:10s
}
.personal-photo .photo-hover .svg-inline--fa{
   color:rgb(255, 108, 34);
   font-size: 20px;
   margin:auto;
}
.personal-info .description .personal-photo:hover .photo-hover{
    -webkit-transition: 5s;
    -moz-transition:5s;
    -o-transition:5s;
    transition:5s;
    display: flex;
}
.personal-info .description .name p{
    margin:20px 0;
}
.personal-info .followers ,
.personal-info .following {
    text-align: center;
    margin-top:70px;
    font-weight: bold;
}
.personal-info .followers p,
.personal-info .following p{
    font-size: 20px;
    margin:10px 0;
    text-shadow:2px 2px 4px rgb(100, 100, 100);
    color: rgb(255, 108, 34);
}
.more-description{
    padding:40px 0 20px;
    color:rgb(255, 108, 34);
    display: block;
    text-align: center;
}
.more-description .same{
    padding:10px;
    margin-left:20px;
}
.more-description .same .svg-inline--fa{
    padding-right:5px
}
.edit, .logout{
    margin-bottom: 20px;
    text-align: center;
}
.logout a,
.edit a{
    display: inline-block;
    width:60%;
    height:32px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    color: rgba(10, 10, 10, 0.9);
    text-decoration: none;
}
.edit a{
    margin-top: 30px;
    background:linear-gradient(rgb(252, 143, 89), rgb(255, 108, 34));
}
.logout a{
    background:linear-gradient(rgb(248, 110, 79), rgb(255, 60, 34));
}
.logout a:hover,
.edit a:hover{
    background: #000;
    color:rgb(255, 108, 34)
}
.titles{
    display: flex;
}
.favorite, .posts{
    margin-top: 10px;
    color: rgb(255, 108, 34);
    height:40px;
    padding-top: 10px;
    width: 50%;
    text-align: center;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select:none;
    -moz-user-select: none;
    user-select: none;
    cursor:pointer;
}
.up-container{
    display:flex;
    justify-content: space-between;
    padding: 60px 0;
}
.container{
    height:440px;
    display: flex;
    overflow: hidden;
    width: 75%;
    margin:0 auto;
    position: relative;
}
.cards-container{
    padding: 16px ;
    display: flex;
    flex-wrap: nowrap;
    position:absolute;
    height:100%;
    z-index: 0;
    overflow: hidden;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -o-transition:1.5s;
    transition:1.5s;
}
.up-prev{
    margin-left: 70px;
}
.up-next{
    margin-right: 70px;
}
.prev, .next{
    color:rgb(255, 122, 55) ;
    background-color:rgb(255, 122, 55, .1);
    text-align: center;
    width: 60px;
    height:60px;
    margin-top:130px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-transition: .3s;
    -moz-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
    z-index: 1;
    position: relative;
}
.next{
    right:0;
}
.next.active{
    color:rgb(255, 122, 55) ;
}
.prev{
    left:0;
}
.prev.disabled,
.next.disapled{
   visibility: hidden;
}
.prev .svg-inline--fa,
.next .svg-inline--fa{
    position:absolute;
    width: 100%;
    height:100%;
    font-weight: bold;
    font-size: 50px;
    cursor: pointer;
    border-radius: 50%;
 }
 .prev .svg-inline--fa{
     left: 0;
 }
 .next .svg-inline--fa{
     right:0;
 }
 .prev:hover, .next:hover{
     background-color:rgb(255, 122, 55) ;
     color: #000;
 }
 .cards-container .card{
    width:260px;
    height: 420px;
    background-color: #000;
    color: #FFF;
    padding:16px;
    border-radius:5px;
    user-select: none;
    margin:0 65px;
    -webkit-transition: .7s; 
    -moz-transition:.7s;
    -o-transition:.7s;
    transition:.7s;   
}
.recipe-photo img{
    width: 230px;
    height:170px;
}
.recipe-informatin .recipe-main-info .title{
    text-align: center;
    margin: 10px 10px;
}
.recipe-informatin .recipe-main-info .title hr{
    margin:10px 0;
    border:none;
    background-color:rgb(255, 122, 55);
    height: 2px;
}
.recipe-informatin .cost{
    color:rgb(255, 122, 55);
    font-weight: bold;
    font-size: 20px;
    margin-left:15px;
}
.recipe-informatin .time{
    font-weight: bold;
    font-size: 14px;
    display: block;
    margin:10px 0 10px 15px;
}
.recipe-informatin p{
    font-size: 12px;
    margin:10px 15px;
}
.recipe-informatin p span{
    display:block;
    font-weight: bold;
}
.recipe-informatin a{
    font-weight: bold;
    display: block;
    margin: 15px 0 15px 15px;
    text-align: left;
    font-size: 14px;
}
.cards-container .card.active{
    opacity:1;
}
@media (max-width:1000px){
    .up-prev{
        margin-left: 0;
    }
    .up-next{
        margin-right: 0;
    }
    .prev, .next{
        visibility: visible;
    }
    .followers{
        margin-left:10px
    }
    .following{
        margin-right: 10px;
    }
}
