body{
    background: linear-gradient(rgb(25, 24, 24, 0.5),rgb(59, 51, 51)),url(../img/background.jpg);
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.container{
    box-shadow: 0 0 10px rgba(28, 1, 1, 0.7);
    padding: 30px;
    /*margin-left: 450px;
    margin-top: 30px;
    margin-right: 20px;*/
    margin: 30px 20px 35px 450px;
    width: 500px;
    background-color: #fff;
  
    border-radius: 5px;
    position: relative;


 
}
.time{
    margin-bottom: 10px;
}
img{
    position: sticky;
    top: 20%;
}

h3{
    text-align: center;
}

hr{
    margin: 10px 0;
    border: none;
    background-color: rgb(255, 122, 55);
    height: 2px;
}

li{
    font-size: 15px;
}
p{
    font-family: 'Oleo Script Swash Caps', cursive;
}
