*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
}

.cntr
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.direction-column
{
    flex-direction: column;
}

.tap
{
    height: 45px;
    width:100%;
    background-color: #000;
    color:rgb(255, 108, 34);
    font-weight: bold;
    font-size: 20px;
    padding:10px 20px;
}

.tap .prev
{
    margin-right: 20px;
    display: inline-block;
}

.tap span
{
   display: inline-block;
}

.hidden
{
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    background-color: rgba(119, 65, 38, 0.9);
    z-index: 1;
}

.container
{
    padding: 10px 50px;
}

.photo
{
    margin:40px 10px 40px;
    user-select: none;
    padding:10px;
}

.personal-photo
{
    margin: auto;
    position: relative;
    width:150px;
    height:150px;
    border-radius: 50%;
}

.photo .personal-photo img
{
    position: absolute;
    width:100%;
    height:100%;
    border-radius: 50%;
    object-fit: cover;
}

.photo-change
{
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 5px;
    right:5px;
    background-color: rgb(255, 108, 34);
    z-index: 0;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
}

.photo .photo-change:hover
{
    background-color:rgb(255, 108, 34, .6);
}

.photo .photo-change:active
{
    background-color: rgb(255, 108, 34);
}

.photo .photo-change .fa
{
    color:#FFF;
    align-items: center;
}

.same
{
    margin: 10px;
    padding:10px;
    border-bottom: 1px solid rgb(255, 108, 34);
    padding-bottom: 30px;
}

.same h5
{
    color:rgb(255, 108, 34);
    margin-bottom: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-size: 20px;
}

.same .description-child{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.same .description-text p
{
    color:rgb(173, 173, 173);
    margin:10px 0;
    font-size: 12px;
}

.same .description-child .edit-buttton
{
    width: 40px;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.same .description-child .edit-buttton .fa
{
    color:rgb(255, 108, 34);
}

.same .description-child .edit-buttton:hover
{
    background-color:rgb(255, 108, 34, .4);
}

.same .description-child .edit-buttton:hover .fa
{
    color: #FFF;
}

.same .description-child .edit-buttton:active
{
    background-color:rgb(255, 108, 34)
}

@media (max-width:1000px)
{
    .container
    {
        padding: 10px 20px;
    }
}

.description-text .fa,
.description-text span
{
    display: inline-block;
}

.description-text .fa
{
    margin-right: 5px;
}

.account #edit-password
{
    display: block;
    margin-top: 20px;
    padding: 11px;
    background-color:rgb(255, 108, 34);
    cursor:pointer;
    border: none;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    color:#FFF
}

.account #edit-password:hover
{
    background-color: #000;
    color:rgb(255, 108, 34);
}

.account
{
    border: none;
}

b-tap span
{
    font-size: 20px;
}

.SamePanel
{
    background-color: #000;
    position: fixed;
    bottom: 0;
    left:0;
    width:100%;
    height:270px;
    z-index: 2;
}

.SamePanel.edit-photo
{ height: 130px }

.SamePanel .tap
{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.SamePanel .tap .close
{
    cursor: pointer;
}

.SamePanel .info
{
    text-align: center;
}

.SamePanel .info input:not([type="submit"])
{
    color:rgb(255, 108, 34);
    border:none;
    border: 1px solid rgb(255, 108, 34);
    background-color: #000;
    margin:50px 10px;
    padding: 0 10px;
    border-radius: 5px;
}

.SamePanel .info .buttons
{
    text-align: right;
    margin-right: 20%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.SamePanel .info .buttons .cancel
{
    background:linear-gradient(rgb(255, 108, 34),rgb(116, 49, 10));
    width:80px;
    color: #FFF;
    font-weight: bold;
    border-radius: 5px;
    margin:0 5px;
    cursor: pointer
}

.SamePanel .info .buttons .cancel:hover
{
    background: rgb(255, 108, 34);
}

.save
{
    background:linear-gradient(rgb(255, 108, 34),rgb(116, 49, 10));
    color: #FFF;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.save:hover
{
    background: rgb(255, 108, 34);
}

.buttons div
{
    display: inline-flex;
    padding: 8px;
}

.previewer-container
{
    display: none;
    width: 65%;
    position: fixed;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    z-index: 5;
    max-width: 400px;
    max-height: 400px
}
.previewer-container img
{
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    object-fit: cover;
}


.edit-photo .info .choices
{
    display: flex;
    justify-content: space-between;
    margin:0 auto 30px;
    width: 200px;
}

.edit-photo .info .choices .option
{
    text-align: center;
}

.edit-photo .info .choices .option > *:not(span)
{
    width:50px;
    height:50px;
    background:linear-gradient(rgb(255, 108, 34),rgb(116, 49, 10));
    font-size:30px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 3px;
}

.edit-photo .info .choices .option > *:not(span):hover
{
    background: rgb(255, 108, 34);
    color:#FFF
}

.edit-photo .info .choices .option span
{
    color:rgb(255, 108, 34);
    font-style: italic;
}

.edit-photo .info .choices .option > *:not(span) .fa
{
    margin-top:10px;
    color:#FFF;
}

.buttons.no-margins
{
    position: absolute;
    bottom: 20px;
    right: 50px;
    margin: 0;
}

.edit-password
{
    height:400px;
}

.edit-password .info
{
    text-align: left;
    width:70%;
    margin:30px auto;
}

.edit-password .info .new-password,
.edit-password .info .confirm-password
{
    padding:10px;
    height:100px;
}

.edit-password .info .new-password span,
.edit-password .info .confirm-password span
{
    color:rgb(255, 108, 34);
}

.edit-password .info input
{
    display: block;
    width:100%;
    margin:10px 0 0 0;
}

.edit-password .info .buttons
{
    margin-top:20px;
}

#MainContent_user_img
{ display: none }