*
{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
}

.main_box
{
    width: 100%;
    background: url(../assets/img/banner.jpg);
    background-size: cover;
    background-position: center;
}

.cntr
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column
{ flex-direction: column }

.box{
    min-width: 370px;
    box-sizing: border-box;
    background: rgb(0.5,0.8,0,0.8);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    padding: 25px;
}

.box img{
    box-sizing: border-box;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
}

input[type="file"]{
    display: none;
}

.box label.upload_img {
    box-sizing: border-box;
    font-size: 19px;
    background-color: darkorange;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s;
}
.box label.upload_img:hover {
    transform: scale(1.1);
    cursor: pointer;
    background: orangered;
}

.input_box{
    min-height: 40px;
    margin-top : 20px;
    position: relative;
}

.input_box .icons
{
    color:gold;
    margin-right: 9px;
}

.box input:not([type="submit"])
{
    box-sizing: border-box;
    padding: 4px;
    width: 230px;
    height: 32px;
    border: none;
    background: transparent;
    color: gray;
    border-bottom: 1px solid darkorange;
    font-weight: 400;
    font-family: sans-serif;
    transition: 0.2s ease;
}

.box .input_box input:focus-visible
{
    border-bottom: 1px solid orange;
    border-bottom-right-radius: 20px;
    color: #3498db;
    transition: 0.3s ease;
    outline: none;
}

.required-validator
{ margin-left: 10px }
.block-validator
{ margin-top: 5px }

.gender input
{
    display: none;
}

#MainContent_confirm_password, #MainContent_birth_date { margin-right: 18px }

.box input[type="submit"] {
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    display: block;
    background-color: darkorange;
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 700;
    border-radius: 5px;
    transition: all 0.3s;
}
.box input[type="submit"]:hover{
    transform: scale(1.1);
    cursor: pointer;
    background: orangered;
}

.box .gender{
    color: white;
    margin-right: 20px;
}
.box .gender input + label
{ cursor: pointer }
.box .gender input + label .svg-inline--fa
{ margin-right: 8px }
.box .gender input:checked + label .svg-inline--fa
{
    color: #ffc107;
}

.cities {
    width: 300px;
    background-color: #e9b109;
    color: black;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 9px;
    font-weight: 800;
}

.cities:hover,
.cities:focus-within
{
    background-color: #d1a00f;
    outline: none;
}

label[for="MainContent_country"],
label[for="MainContent_city"]
{
    color: white;
    margin: 0 8px 6px 0;
    align-self: flex-start;
}
